*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

li {
    list-style: none;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.75);
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background: #111;
}

.sticky-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #141414;
    padding: 25px 0px;
}

.container {
    width: 90%;
    margin: auto;
}

.container-content {
    width: 95%;
    margin: auto;
}

.header {
    background: #141414;
}

.header-weapped {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-icon {
    font-size: 30px;
    color: #fff;
    line-height: 1em;
    cursor: pointer;
}

.banner-title {
    padding-top: 94px;
    color: #fff;
}

.banner-title h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}

.banner-title p {
    margin-top: 31px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
}

.banner-img img {
    width: 100%;
}

.banner-img {
    margin-top: 53px;
}

.main-banner img {
    width: 1410px;
    height: 100%;
    margin: auto;
}

.main-banner {
    margin-top: 100px;
}

.detail-container1 h5 {
    margin-top: 31px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75);
}

.detail-container1 h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 0;
    color: #fff;
}

.container-content h5 {
    margin-top: 31px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75);
}

.container-content P {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 0;
    color: #fff;
}

.notice-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.section-02 {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 60px;
}

.section-02 h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.section-02 p {
    font-size: 18px;
    margin-top: 35px;
    font-weight: 400;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.75);
}

.section-03 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    padding-top: 60px;
}

.section-03 img {
    width: 100%;
}

.off-canvas-menu {
    background-color: #fff;
    color: #111;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%);
    transition: transform 0.5s ease-in-out;
    width: 300px;
}

.toggle-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.off-canvas-menu li {
    display: block;
    position: relative;
    line-height: 24px;
    border-bottom: solid 1px #cecece;
    padding: 12px;
}

.off-canvas-menu li:first-child {
    border-top: solid 1px #cecece;
}

.logo2 {
    padding-bottom: 30px;
    text-align: center;
    position: relative;
    display: flex;
    margin-top: 22px;
    margin-left: 18px;
}

.off-canvas-menu a {
    color: #404040;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.is-active {
    transform: none;
}

.canvas-click {
    position: relative;
    top: -100px;
    left: -100px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

/* 
.notice-column{
    width: 100%;
    max-width: 100%;
} */
/* 
@media(min-width: 992px){
    .notice-row{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
} */
/* Responsividade */

/* @media (min-width: 576px) {
    .header {
        padding: 53px 0px;
        transition: all 0.3s ease 0s;
    }
}
@media (min-width: 768px) {
    .header {
        padding: 53px 0px;
        transition: all 0.3s ease 0s;
    }
}
@media (min-width: 992px) {
    .header {
        padding: 53px 0px;
        transition: all 0.3s ease 0s;
    }
}
@media (min-width: 1200px) {
    .header {
        padding: 53px 0px;
        transition: all 0.3s ease 0s;
    }
    .comntainer{
        width: 80%;
    }
} */